@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;
  background-color: #F8F9FF;
}

.swiper_container {
  padding: 2rem;
  position: relative;
  margin-top: 5rem;
}

.swiper-slide {
  width: clamp(20rem, 50vw, 37rem);
  height: clamp(30rem, 65vh, 45rem);
  border-radius: 2rem;
  object-fit: cover;
  position: relative;
}

@media (max-width: 1280px) {
  .swiper_container {
    margin-top: 4rem;
  }

  .swiper-slide {
    width: clamp(10rem, 40vw, 27rem);
    height: clamp(10rem, 45vh, 35rem);
    border-radius: 2rem;
    object-fit: cover;
    position: relative;
  }
}

@media (min-width: 1024px) and (max-width: 1279px) {
  .swiper_container {
    margin-top: 4.5rem;
  }

  .swiper-slide {
    width: clamp(20rem, 50vw, 37rem);
    height: clamp(30rem, 65vh, 45rem);
    border-radius: 2rem;
    object-fit: cover;
    position: relative;
  }
}

@media (min-width:768px ) and (max-width: 1024px)  {
  .swiper_container {
    margin-top: 3rem;
  }

  .swiper-slide {
    width: clamp(20rem, 60vw, 37rem);
    height: clamp(30rem, 65vh, 45rem);
    border-radius: 2rem;
    object-fit: cover;
    position: relative;
  }
}

.swiper-slide img {
  width: 100%;
  height: 100%;
  border-radius: 2rem;
  object-fit: cover;
}

.swiper-slide-shadow-left,
.swiper-slide-shadow-right {
  display: none;
}

.slider-controler {
  position: relative;
  bottom: 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.slider-controler .swiper-button-next {
  left: 58% !important;
  transform: translateX(-58%) !important;
}

@media (max-width: 990px) {
  .slider-controler .swiper-button-next {
    left: 70% !important;
    transform: translateX(-70%) !important;
  }
}

@media (max-width: 450px) {
  .slider-controler .swiper-button-next {
    left: 80% !important;
    transform: translateX(-80%) !important;
  }
}

@media (max-width: 990px) {
  .slider-controler .swiper-button-prev {
    left: 30% !important;
    transform: translateX(-30%) !important;
  }
}

@media (max-width: 450px) {
  .slider-controler .swiper-button-prev {
    left: 20% !important;
    transform: translateX(-20%) !important;
  }
}

.slider-controler .slider-arrow {
  background: var(--white);
  width: 3.5rem;
  height: 3.5rem;
  border-radius: 50%;
  left: 42%;
  transform: translateX(-42%);
  filter: drop-shadow(0px 8px 24px rgba(18, 28, 53, 0.1));
}

.slider-controler .slider-arrow ion-icon {
  font-size: 2rem;
  color: #222224;
}

.slider-controler .slider-arrow::after {
  content: '';
}

.swiper-pagination {
  position: relative;
  width: 15rem !important;
  bottom: 1rem;
}

.swiper-pagination .swiper-pagination-bullet {
  filter: drop-shadow(0px 8px 24px rgba(18, 28, 53, 0.1));
}

.swiper-pagination .swiper-pagination-bullet-active {
  background: var(--primary);
}

/* Slide transition */
.transition-enter {
  transform: translate(0, -10px);
  opacity: 0;
}

.transition-enter-active {
  transform: translate(0, 0);
  opacity: 1;
  transition: all 300ms ease-in;
}

.transition-exit {
  transform: translate(0, 0);
  opacity: 1;
}

.transition-exit-active {
  transform: translate(0, 10px);
  opacity: 0.01;
  transition: all 300ms ease-in;
}

.custom-range {
  -webkit-appearance: none;
  appearance: none;
  width: 100%;
  height: 3px;
  background: #CC2B52;
  outline: none;
  opacity: 0.7;
  transition: opacity .2s;
}

.custom-range:hover {
  opacity: 1;
  /* Fully opaque when hovered */
}

.custom-range::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 15px;
  height: 15px;
  background: black;
  cursor: pointer;
  border-radius: 50%;
}

.custom-range::-moz-range-thumb {
  width: 20px;
  height: 20px;
  background: black;
  cursor: pointer;
  border-radius: 50%;
}


@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(-10px);
  }

  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.animate-fade-in {
  animation: fadeIn 0.3s ease-in-out;
}




@keyframes tada {
  0% {
    transform: scale(2) rotate(0deg);
  }

  10% {
    transform: scale(2.1) rotate(-3deg);
  }

  20% {
    transform: scale(2.1) rotate(3deg);
  }

  30% {
    transform: scale(2.1) rotate(-3deg);
  }

  40% {
    transform: scale(2.1) rotate(3deg);
  }

  50% {
    transform: scale(2) rotate(0deg);
  }

  100% {
    transform: scale(1) rotate(0deg);
  }
}

.animate-heart {
  animation: tada 1s ease forwards;
  position: absolute;
  transform: translate(-50%, -50%);
  z-index: 10;
}